header{
    margin-top: 2rem;
    text-align: center;
    background: linear-gradient(rgb(211, 108, 108), rgb(255, 183, 192));

}

.btn{
    background: linear-gradient(rgb(211, 108, 108), rgb(255, 183, 192));

}

.card{
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px red;
}