header{
    margin-top: 2rem;
    text-align: center;
    background: linear-gradient(rgb(211, 108, 108), rgb(255, 183, 192));

}

.btn{
    background: linear-gradient(rgb(211, 108, 108), rgb(255, 183, 192));

}
