*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 2rem;
    background: linear-gradient(rgb(211, 108, 108), rgb(255, 183, 192));
    transition: all 0.6s;
}

.container:hover{
    transform: translateY(-7px);
    box-shadow: 0 4px 20px rgba(11, 50, 58, 0.15);
}

@media (max-width: 768px) {
    .container{
        width: 80%;
    }
}